<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      src="./assets/logo.jpg"
      alt="logo"
      style="height: 50px; margin-right: 8px"
    />

    <div class="example-spacer">
      <input
        type="text"
        [formControl]="searchControl"
        (input)="onInputChange()"
        class="form-control w-50 mx-auto"
        placeholder="Search with ID Or With Amount"
      />
    </div>

    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
