<section>
  <table
    class="table table-striped table-bordered"
    *ngIf="combinedData.length > 0"
  >
    <thead>
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Transaction Details</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let customer of combinedData
            | search : { id: searchValue, amount: searchValue }
        "
      >
        <td>{{ customer.name }}</td>
        <td>
          <button
            (click)="selectCustomerTransactions(customer.transactions)"
            mat-stroked-button
            color="primary"
          >
            View Transactions
          </button>
        </td>
        <td>
          <table class="table mb-0">
            <thead>
              <tr>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of customer.transactions">
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date | date }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="combinedData.length === 0">No data available.</div>
</section>

<div class="w-50 mx-auto">
  <app-transaction-chart
    [transactions]="selectedCustomerTransactions"
  ></app-transaction-chart>
</div>
